<div>
    <div class="col l10 m6 s12">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/products/keystation-mk3.png">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p class="cat">Keyboards</p>
                <h5 class="brand">M-Audio</h5>
                <span class="card-title">Keystation MK3</span>
                <h5 class="price">Price: $159 USD</h5>
            </div>
        </div>
      </div>
    </div>
  </div>

  