.icons {
    height: 85px;
    width: auto;
    
}

.icons-s{
    height:  30px;
    width:auto;
    margin-top: 40px;
    margin-left: 16px;
}

.logo{
    height: 90px;
    width: auto;
    margin-top: 7px;
}

.label-icon{
    margin-top: 17px;
    margin-left: 8px;
}

.row{
    margin: 0px;
}

.first-nav{
    height: 100px;
}

.top-bar{
    background-color: #1a1a1a !important;
    height: 105px !important;
}

.top-row{
    background-color: #FF1E96 !important;
    margin-top: 41px !important;
}

.top-btns{
    height: 60px;
    margin-left: 180px;
}

.side-img{
    height: 300px;
    width: 300px;
}

.side-text-g{
    color: #6EFF4B;
}

.side-text-b{
    color: #3DFFF8;
}

.btn-floating{
    margin-left: 5px;
    margin-top: 6px;
    height: 85px;
    width: 85px;

}

.sidenav{
    background-color: #121212;
}

.navbtn{
    height: 104px;
    width: auto;
}

.navbtn-s{
    height: 104px;
    width: 65px;
}

.a-s{
    padding: 0;
    height:104px;
}

.test{
    border-width: 1px;
    border-style: solid;
    border-color: red;
}

.test2{
    border-width: 0.1px;
    border-style: ridge;
    border-color: #1a1a1a;
}

.headerbox{
    background-color: #B50FD1;
    height: 35px;
}

.headertext{
    color: #3DFFF8;
}

.btn-large{
    border-radius: 25px;
    background-color: #212121;
    color:#3DFFF8;
    width: 180px;

}

.menu2-btn{
    height: 80px;
}

.btn-floating{
    background-color: #212121;
}

.menu-buttons{
    background-color: #FF1E96;
    
}

#search{
    background-color: #212121;
    height: 50px;
    margin: 10px;
    border-radius: 25px;
}

.z-depth-3 {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.hoverable {
    transition: box-shadow .25s;
    box-shadow: 0;
  }
  
.hoverable:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 #3DFFF8, 0 6px 20px 0 #3DFFF8;
  }

.active a{
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 #6EFF4B, 0 6px 20px 0 #6EFF4B;
    color: #6EFF4B;
  }

.modal{
    background-color: #212121;
}

.modal-content{
    color:#3DFFF8
}

.modal-footer{
    background-color: #212121;
    
}

.btn-flat{
    color:white;
}