.row{
    margin: 0;
    background-color: #1a1a1a;
}

.home-page{
    background-color: #212121;
    border-style: solid;
    border-color: #212121;
    border-width: 1px;

}

.test{
    border-width: 1px;
    border-style: solid;
    border-color: red;
}

.n-text{
    color: #6EFF4B;
    
}

.s-text{
    color: #FF7010 !important;
}

.p-text{
    top: 120px;
}

.promo-img{
    padding: 0;
    width: auto;
}