<div class="row" style="background-color: #121212;">
    <div class="center-align col l12 s12 n-text" style="margin: 15px">
      <p>Welcome to Back 2 The Music</p>
      <p>Get started by checking out our <u><a href="/popular" class="s-text">popular products!</a></u></p>
    </div>
</div>

<!---CAROUSEL--->
<div style="background-color: #212121;">
    <div class="row">
        <div class="col l10 push-l1 s12 hide-on-small-only">
            <div class="carousel carousel-slider" style="max-height: 800px; margin:20px 0px;">
                <a class="carousel-item valign-wrapper" href="/#one"><img src="assets/Resources/slider-1.png"></a>
                <a class="carousel-item valign-wrapper" href="#two!"><img src="assets/Resources/slider-2.jpg"></a>
                <a class="carousel-item valign-wrapper" href="#three!"><img src="assets/Resources/slider-3.jpg"></a>
                <a class="carousel-item valign-wrapper" href="#four!"><img src="assets/Resources/slider-4.jpg"></a>
            </div>
        </div>
    </div>

    <div style="background-color: #212121;">
        <div class="row">
            <div class="col s12 hide-on-med-and-up">
                <div class="carousel carousel-slider" style="max-height: 160px; margin:20px 0px;">
                    <a class="carousel-item" href="/#one"><img src="assets/Resources/slider-1.png"></a>
                    <a class="carousel-item" href="#two!"><img src="assets/Resources/slider-2.jpg"></a>
                    <a class="carousel-item" href="#three!"><img src="assets/Resources/slider-3.jpg"></a>
                    <a class="carousel-item" href="#four!"><img src="assets/Resources/slider-4.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!----GALLERY -->
<div class="row center" style="background-color: #121212;">
    <div class="col s12 m6 l3 center">
        <img class="promo-img" style="height:250px; width: 300px;" src="assets/Resources/lmao.gif">
    </div>

    <div class="col m3 center hide-on-med-and-down" style="height:257px; width:300px;">
        <h5 class="n-text">New collections for Summer 2021</h5>
        <h6><u><a href="/products/" class="s-text">Take a look at our keyboard and synthesizer collection!</a></u></h6>
    </div>

    <div class="col s12 m6 l3 center">
        <img class="promo-img" style="height:250px; width: 300px;" src="assets/Resources/lmao.gif">
    </div>

    <div class="col l3 center hide-on-med-and-down" style="height:257px; width:300px;">
        <h5 class="n-text">New collections for Summer 2021</h5>
        <h6><u><a href="/products/" class="s-text">Take a look at our keyboard and synthesizer collection!</a></u></h6>
    </div>
</div>

<div class="row center" style="background-color: #121212;">
    <div class="col s12 m6 l3 center">
        <img class="promo-img" style="height:250px; width: 300px;" src="assets/Resources/lmao.gif">
    </div>

    <div class="col m3 center hide-on-med-and-down" style="height:257px; width:300px;">
        <h5 class="n-text">New collections for Summer 2021</h5>
        <h6><u><a href="/products/" class="s-text">Take a look at our keyboard and synthesizer collection!</a></u></h6>
    </div>

    <div class="col s12 m6 l3 center">
        <img class="promo-img" style="height:250px; width: 300px;" src="assets/Resources/lmao.gif">
    </div>

    <div class="col l3 center hide-on-med-and-down" style="height:257px; width:300px;">
        <h5 class="n-text">New collections for Summer 2021</h5>
        <h6><u><a href="/products/" class="s-text">Take a look at our keyboard and synthesizer collection!</a></u></h6>
    </div>
</div>