<div class="row home-page">
<p>a</p>
</div>

<div class="carousel carousel-slider">
    <a class="carousel-item valign-wrapper" href="#one!"><img src="assets/Resources/slider-1.png"></a>
    <a class="carousel-item valign-wrapper" href="#two!"><img src="assets/Resources/slider-2.jpg"></a>
    <a class="carousel-item valign-wrapper" href="#three!"><img src="assets/Resources/slider-3.jpg"></a>
    <a class="carousel-item valign-wrapper" href="#four!"><img src="assets/Resources/slider-4.jpg"></a>
  </div>

  <div class="row home-page">
    <p>a</p>
    <p>a</p>
</div>

<div class="row">
    <div class="column">
        <img class="materialboxed" width="650" src="assets/Resources/vapwave2.png">
    </div>
    <div class="column">
        <img class="materialboxed" width="650" src="assets/Resources/test.gif">
    </div>
</div>

<div class="row home-page">
    <p>a</p>
    <p>a</p>
</div>