<div class="row odd">
    <div class="center-align col l12 s12 n-text top-row">
      <p>Welcome to Back 2 The Music</p>
      <p>Get started by checking out our <u><a href="/popular" class="s-text">popular products!</a></u></p>
    </div>
</div>

<!---CAROUSEL--->
<div class="car-div">
    <div class="row">
        <div class="col l10 push-l1 s12 hide-on-small-only">
            <div class="carousel carousel-slider car-big">
                <a class="carousel-item valign-wrapper" href="/sales"><img src="assets/Resources/slider-1.png"></a>
                <a class="carousel-item valign-wrapper" href="#two!"><img src="assets/Resources/slider-2.jpg"></a>
                <a class="carousel-item valign-wrapper" href="#three!"><img src="assets/Resources/slider-3.jpg"></a>
                <a class="carousel-item valign-wrapper" href="#four!"><img src="assets/Resources/slider-4.jpg"></a>
            </div>
        </div>
    </div>

    <div class="car-div">
        <div class="row">
            <div class="col s12 hide-on-med-and-up">
                <div class="carousel carousel-slider car-small">
                    <a class="carousel-item" href="/sales"><img src="assets/Resources/slider-1.png"></a>
                    <a class="carousel-item" href="#two!"><img src="assets/Resources/slider-2.jpg"></a>
                    <a class="carousel-item" href="#three!"><img src="assets/Resources/slider-3.jpg"></a>
                    <a class="carousel-item" href="#four!"><img src="assets/Resources/slider-4.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!----GALLERY -->
<div class="row center gal-div">
    <div class="col s12 m6 l3 center">
        <a href="/products/keyboards"><img class="promo-img" src="assets/Resources/synth-ad-1.png"></a>
    </div>

    <div class="promo-text col m3 center hide-on-med-and-down valign-wrapper">
        <h5><a class="g-text" href="/products/">New collections for Summer 2021</a></h5>
    </div>

    <div class="col s12 m6 l3 center">
        <a href="/products/electronic-drums"><img class="promo-img" src="assets/Resources/synth-ad-2.png"></a>
    </div>

    <div class="promo-text col l3 center hide-on-med-and-down valign-wrapper">
        <h5 class="o-text"><a href="/products/electronic-drums" class="o-text">Electronic drums on sale!</a></h5>
    </div>
</div>

<div class="row center gal-div">

    <div class="promo-text col m3 center hide-on-med-and-down valign-wrapper">
        <h5><a class="b-text" href="/products/controllers">See the controllers & Waves</a></h5>
    </div>

    <div class="col s12 m6 l3 center">
        <a href="/products/controllers"><img class="promo-img" src="assets/Resources/synth-ad-3.png"></a>
    </div>

    <div class="promo-text col l3 center hide-on-med-and-down valign-wrapper">
        <h5><a href="/recommended/" class="p-text">Check out the recommended section!</a></h5>
    </div>

    <div class="col s12 m6 l3 center">
        <a href="/recommended/"><img class="promo-img" src="assets/Resources/synth-ad-4.png"></a>
    </div>

</div>