<div class="row hide-on-large-only small-row">
    <div class="col s12">
        <h5 class="row-title">Headphones</h5>
    </div>
</div>

<div class="row odd">
    <div class="col l3 hide-on-med-and-down">
        <h3 class="row-title">Headphones</h3>
    </div>

    <div class="col s12 l9 even">
        <app-products *ngFor="let product of productService.products" [data]= "product"></app-products>

        <!-- Modal Structure -->
        <div id="modal1" class="modal" >

            <div class="modal-content even modal-h">
                <app-landing-page></app-landing-page>
                <a class="modal-close waves-effect waves-green btn-flat">Add to cart</a>
            </div>
        
        </div>

    </div>
</div>