<div class="row hide-on-large-only" style="background-color: #FF1E96;">
    <div class="col s12">
        <h5 style="color: white">Departments</h5>
    </div>
</div>

<div class="row" style="background-color: #121212;">
    <div class="col l3 hide-on-med-and-down">
        <h3 style="color: white">Departments</h3>
    </div>
    
    <div class="col s12 l9" style="background-color: #212121;">
        <div>
            <div class="col l3 s6">
            <div class="card">
                <div class="card-image">
                    <img src="assets/categories/piano.png">
                </div>
                <div class="card-action center-align">
                    <a href="/products/keyboards" class="btn modal-trigger">Keyboards</a>
                </div>
            </div>
            </div>
        </div>

        <div>
            <div class="col l3 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/categories/headphones.png">
                    </div>
                    <div class="card-action center-align">
                        <a href="/products/headphones" class="btn modal-trigger">Headphones</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="col l3 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/categories/mixer.png">
                    </div>
                    
                    <div class="card-action center-align">
                    <a href="/products/controllers" class="btn modal-trigger">Controllers</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="col l3 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/categories/drum.png">
                    </div>
                    
                    <div class="card-action center-align">
                    <a href="/products/electronic-drums" class="btn modal-trigger">Drums</a>
                    </div>
                </div>
            </div>
        </div>

    <div class="col s12 l9" style="background-color: #212121;">
        <div>
            <div class="col l4 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/categories/dj-mixer.png">
                    </div>
                    <div class="card-action center-align">
                    <a href="/products/dj-gear" class="btn modal-trigger">DJ Gear</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="col l4 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/categories/microphone.png">
                    </div>
                    
                    <div class="card-action center-align">
                    <a href="/products/microphones" class="btn modal-trigger">Microphones</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <div class="col l4 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/categories/toy-train.png">
                    </div>
                    
                    <div class="card-action center-align">
                        <a href="/products/toys" class="btn modal-trigger">Toys</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>