<div class="row hide-on-large-only" style="background-color: #FF1E96;">
    <div class="col s12">
        <h5 style="color: white">Services</h5>
    </div>
</div>

<div class="row" style="background-color: #121212;">
    <div class="col l3 hide-on-med-and-down">
        <h3 style="color: white">Services</h3>
    </div>
    
    <div class="col s12 l9" style="background-color: #212121;">
        <div>
            <div class="col l3 s6">
            <div class="card">
                <div class="card-image">
                    <img src="assets/services/lessons.png">
                </div>
                <div class="card-action center-align">
                    <a class="btn modal-trigger">Lessons</a>
                </div>
            </div>
            </div>
        </div>

        <div>
            <div class="col l3 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/services/repairs.png">
                    </div>
                    <div class="card-action center-align">
                        <a class="btn modal-trigger">Repairs</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="col l3 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/services/rentals.png">
                    </div>
                    
                    <div class="card-action center-align">
                    <a  class="btn modal-trigger">Rentals</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="col l3 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/categories/drum.png">
                    </div>
                    
                    <div class="card-action center-align">
                    <a class="btn modal-trigger">Financing</a>
                    </div>
                </div>
            </div>
        </div>

    <div class="col s12 l9" style="background-color: #212121;">
        <div>
            <div class="col l4 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/categories/dj-mixer.png">
                    </div>
                    <div class="card-action center-align">
                    <a class="btn modal-trigger">Gift Cards</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="col l4 s6">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/categories/microphone.png">
                    </div>
                    
                    <div class="card-action center-align">
                    <a class="btn modal-trigger">Membership</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>