<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Contact Us!</h5>
            <p class="grey-text text-lighten-4">México - Mexicali, B.C.</p>
            <p class="grey-text text-lighten-4">Código postal</p>
            <p class="grey-text text-lighten-4">Número</p>
        </div>

        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Follow us on Social Media!</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!"><img class="s-icon" src="assets/Social/facebook-logo.png"> Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><img class="s-icon" src="assets/Social/instagram-logo.png"> Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><img class="s-icon" src="assets/Social/twitter-logo.png"> Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><img class="s-icon" src="assets/Social/youtube-logo.png"> Youtube</a></li>
          </ul>
        </div>
        
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        Back to the Music © 2021
      <a class="grey-text text-lighten-4 right modal-trigger" href="#site-map">Site Map</a>
      </div>
    </div>

    <!--- Modal Structure -->
    <div id="site-map" class="modal">
      <div class="modal-content">
          <h3>Site Map</h3>
          <ul>
            <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="/departments">Departments</a></li>
            <li><a class="grey-text text-lighten-3" href="/products">Products</a></li>
            <li><a class="grey-text text-lighten-3" href="/products/keyboards">Keyboards</a></li>
            <li><a class="grey-text text-lighten-3" href="/products/headphones">Headphones</a></li>
            <li><a class="grey-text text-lighten-3" href="/products/controllers">Controllers</a></li>
            <li><a class="grey-text text-lighten-3" href="/products/electronic-drums">Electronic Drums</a></li>
            <li><a class="grey-text text-lighten-3" href="/products/dj-gear">DJ Gear</a></li>
            <li><a class="grey-text text-lighten-3" href="/products/microphones">Microphones</a></li>
            <li><a class="grey-text text-lighten-3" href="/products/toys">Toys</a></li>
            <li><a class="grey-text text-lighten-3" href="/popular">Popular</a></li>
            <li><a class="grey-text text-lighten-3" href="/sales">Sales</a></li>
            <li><a class="grey-text text-lighten-3" href="/services">Services</a></li>
            <li><a class="grey-text text-lighten-3" href="/recommended">Recommended</a></li>
          </ul>
      </div>

      <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>
  </div>

  </footer>
