
<div class="row">
    <div class="col l2">
      <div class="card">
        <div class="card-image">
          <img src="assets/products/keystation-mk3.jpg">
        </div>
        <div class="card-content">
          <p>Keyboards</p>
          <span class="card-title">M-AUDIO - Keystation 49 MK3</span>
          <small class="qty">1 piece</small>
        </div>
        <div class="card-action center-align">
          <a href="#" class="btn">Add to cart</a>
        </div>
      </div>
    </div>
  </div>