<div>
    <div class="col l3 m6 s12">
      <div class="card">
        <div class="card-image">
          <img src="assets/products/{{data.img}}.png">
        </div>
        <div class="card-content">
          <p class="cat">{{data.category}}</p>
          <h5 class="brand">{{data.brand}}</h5>
          <span class="card-title">{{data.title}}</span>
          <small class="price">Price: ${{data.price}} USD</small>
        </div>
        <div class="card-action center-align">
          <a class="btn modal-trigger" data-target="modal1">Add to cart</a>
        </div>
      </div>
    </div>
  </div>

  